@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-bg text-neo-text font-sans antialiased;
  }
}

/* Custom Scrollbar biar estetik */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFF8F0;
}
::-webkit-scrollbar-thumb {
  background: #18181B;
  border: 2px solid #FFF8F0;
  border-radius: 5px;
}